<!doctype html>
<html>
<head>
    <title>Ahtesham Zaidi Video Stream</title>
    <link rel="stylesheet" href='../static/style.css'/>
	<style>
	body {
		text-align: center;
	}
    </style>
</head>
<body>
	<h1>Magic Cloth</h1>
	<hr>
	<h3>Important Information Before Starting</h3>
	<p>1. Don't move your camera. </p>
	<p>2. Wait for 10 sec before coming infront of camera. Let it capture the background.</p>
	<p>3. Now use Red cloth to hide yourself and become a Magician.</p>
	<hr>
	<h3><img src="{{ url_for('video_feed') }}"></h3>
	<hr>
	<p>@2020 Developed by Ahtesham Zaidi at Zaidi Labs</p>
</body>
</html>